iframe.program {
	width: 400px;
	height: 420px;
	border: none;
}

.reveal .slides {
	text-align: left;
}

.center {
	text-align: center;
}

.number {
	text-align: right;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4 {
	text-transform: none;
	text-align: center;
}

.column {
	float: left;
	width: 50%;
}

/* Clear floats after the columns
.row:after {
	content: "";
	display: table;
	clear: both;
}
